<!DOCTYPE html>
{% assign lang = page.lang | default: "eu" %}
<html dir="ltr" lang="{{ lang }}">

{% include head.html %}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {% include header.html %}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

        <div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						<!-- Posts
						============================================= -->
						<div id="posts" class="small-thumbs">

              {% for post in site.posts %}
                {% include post-entry.html %}
              {% endfor %}

						</div><!-- #posts end -->

						<!-- Pagination
						============================================= -->
						<ul class="pager nomargin">
							<li class="previous"><a href="#">&larr; Older</a></li>
							<li class="next"><a href="#">Newer &rarr;</a></li>
						</ul><!-- .pager end -->

					</div><!-- .postcontent end -->

					{% include sidebar-right.html %}

				</div>

			</div>

		</section><!-- #content end -->

    {% for section in page.after_content_sections %}
    <section class="bottommargin">
      <div class="container clearfix">
        {% include {{ section.include }} title=section.title items=section.items %}
      </div>
    </section>
    {% endfor %}

		{% include footer.html %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/assets/js/functions.js"></script>

</body>
</html>
